// Colors

// Primary

$color-primary: hsl(215, 51%, 70%);
$color-secondary: hsl(178, 100%, 50%);

//  Neutral

$color-neutral-very-dark-blue: hsl(217, 54%, 11%);
$color-neutral-very-dark-blue-light: hsl(216, 50%, 16%);
$color-neutral-very-dark-blue-lighter: hsl(215, 32%, 27%);

$color-white: hsl(0, 0%, 100%);
$color-text: hsl(216, 21%, 55%);
